<h1>Breeding Record</h1>

<h3>Bred by <%=h @dragon.user.first_name %> <%=h @dragon.user.last_name %></h3>

<table>
  <tr>
      <th>
          Mother
      </th>
      <th>
          Father
      </th>
      <th>
          Offspring
      </th>
      <th>
          Time
      </th>
  </tr>


<% 

  siblings = @dragon.siblings
  
  siblings.unshift(@dragon)
    
%>


  <tr>
    <td style="padding: 10px">
      <% if @dragon.mother != nil %>
        <img src='<%=h @dragon.mother.imageURL %>' style='width: 120; height: 120;'/>
      <% else %>
        ?
      <% end %>
    </td>
    <td style="padding: 10px">
      <% if @dragon.father != nil %>
        <img src='<%=h @dragon.father.imageURL %>' style='width: 120; height: 120;'/>
      <% else %>
        ?
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <% (0..(siblings.length/2)-1).each do |i|
            sib = siblings[i]%>
            <td>
              <img src='<%=h sib.imageURL %>' style='width: 60; height: 60;'/>
            </td>
          <% end %>
        </tr>
        <tr>
          <% ((siblings.length/2)..siblings.length-1).each do |i|
            sib = siblings[i]%>
            <td>
              <img src='<%=h sib.imageURL %>' style='width: 60; height: 60;'/>
            </td>
          <% end %>
        </tr>
      </table>
    </td>
    <td><%=h Time.at(@dragon.breedTime.to_i/1000.0).strftime("Bred at %H:%M on %h %d, %Y") %></td>
  </tr>
  
  <% if @trait && @statistics %>
    <tr>
      <td><b>Trait:</b></td>
      <td><%= @trait %></td>
      <td>
        <table class="statsPadding">
          <tbody>
            <tr>
              <th style="border: 0"></th>
              <th colspan="3" style="border: 0; color:purple">current clutch</th>
              <th style="border: 0"></th>
              <th colspan="3" style="border: 0; color:purple">all clutches</th>
            </tr>
            <tr>
              <th style="border: 0"></th>
              <th>Total</th>
              <th>F</th>
              <th>M</th>
              <th style="border: 0"></th>
              <th>Total</th>
              <th>F</th>
              <th>M</th>
            </tr>

            <% @statistics[:current].each do |ch, current_vals| %>
              <% all_vals = @statistics[:all][ch] %>
              <tr>
                <th><%= ch %></th>
                <td style="text-align: left"><%= current_vals[:total] %> (<%= current_vals[:percent] %>%)</td>
                <td><%= current_vals[:female] %></td>
                <td><%= current_vals[:male] %></td>
                <td style="border: 0; padding: 3px"></td>
                <td style="text-align: left"><%= all_vals[:total] %> (<%= all_vals[:percent] %>%)</td>
                <td><%= all_vals[:female] %></td>
                <td><%= all_vals[:male] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
      <td>&nbsp;</td>
    </tr>
  <% end %>

</table>

<br />
