<h1>Listing dragons</h1>

<table>
  <tr>
    <% if (@dragons.size > 0) %>
      <th>
          Dragon ID
      </th>
      <th>
          Mother ID
      </th>
      <th>
          Father ID
      </th>
      <% (0..8).each do |i| %>
        <th>
            <%=h 'A ' + (i+1).to_s %>
        </th>
        <th>
            <%=h 'B ' + (i+1).to_s %>
        </th>
        <th>
            <%=h 'Trait' + (i+1).to_s %>
        </th>
      <% end %>
      <% (0..8).each do |i| %>
        <th>
            <%=h 'Mother A ' + (i+1).to_s %>
        </th>
        <th>
            <%=h 'Mother B ' + (i+1).to_s %>
        </th>
        <th>
            <%=h 'Mother Trait' + (i+1).to_s %>
        </th>
      <% end %>
      <% (0..8).each do |i| %>
        <th>
            <%=h 'Father A ' + (i+1).to_s %>
        </th>
        <th>
            <%=h 'Father B ' + (i+1).to_s %>
        </th>
        <th>
            <%=h 'Father Trait' + (i+1).to_s %>
        </th>
      <% end %>
    <% end %>
  </tr>

<% @dragons.each do |dragon| %>

<% 
  alleleNames = {
    "H" => "horns", "h" => "hornless",
    "S" => "scaleless", 's' => "scales",
    "W" => "wingless", 'w' => "wings",
    "L" => "legs", "l" => "legless",
    "T" => "fancyTail", "t" => "plainTail",
    "A" => "red", "a" => "purple",
    "B" => "color2", "b" => "color2",
    "P" => "plates", "p" => "plateless",
    "F" => "fireless", "f" => "fire"
  }
  # Extract chromosomes into arrays
  info = {"dragon" => {}, "mother" => {}, "father" => {}}
  info.each do |key, value|
    thisDragon = nil
    if (key == "dragon")
      thisDragon = dragon
    else 
      if (key == "mother")
        thisDragon = dragon.mother
      else
        thisDragon = dragon.father
      end
    end
    
    if (!thisDragon.nil?)
    
      value["chromosomes"] = {"A" => [], "B" => []}
    
      alleles = thisDragon.attributes['alleles']
      aPattern = /a:(.)/
      bPattern = /b:(.)/
      allAs = alleles.scan(aPattern)
      allBs = alleles.scan(bPattern)

      allAs.each do |allele|
        alleleVal = allele[0]
        if (alleleNames[alleleVal])
          alleleVal = alleleNames[alleleVal]
        else
          alleleVal = "little" + alleleVal if alleleVal.upcase != alleleVal
          alleleVal = "big" + alleleVal if alleleVal.upcase == alleleVal
        end
        value["chromosomes"]['A'] << alleleVal
      end
      allBs.each do |allele|
        alleleVal = allele[0]
        if (alleleNames[alleleVal])
          alleleVal = alleleNames[alleleVal]
        else
          alleleVal = "little" + alleleVal if alleleVal.upcase != alleleVal
          alleleVal = "big" + alleleVal if alleleVal.upcase == alleleVal
        end
        value["chromosomes"]['B'] << alleleVal
      end

      # Extract traits into arrays
      value["traits"] = []
      imageTraits = thisDragon.attributes['imageURL'].split('.')[0].split('/')
      # start at 4, to rm /biologica/cache/5/
      (4..12).each do |i|
        value["traits"][i-4] = imageTraits[i].humanize 
      end
      # some silly reording, as the trait names aren't in the same order as the alleles
      scales = value["traits"].delete_at(7)
      value["traits"].insert(1, scales)
      fire = value["traits"].delete_at(5)
      value["traits"].insert(8, fire)
      value["traits"][6] = value["traits"][5]  # two alleles for one color
    end
  end

  
%>

  <tr>
    <td>
      <%=h dragon.id %>
    </td>
    <td>
      <%=h dragon.attributes['mother_id'] %>
    </td>
    <td>
      <%=h dragon.attributes['father_id'] %>
    </td>
    <% (0..8).each do |i| %>
      <td>
        <%=h info["dragon"]["chromosomes"]['A'][i] %>
      </td>
      <td>
        <%=h info["dragon"]["chromosomes"]['B'][i] %>
      </td>
      <td>
        <%=h info["dragon"]["traits"][i] %>
      </td>
    <% end %>
    <% (0..8).each do |i| %>
      <td>
        <%=h info["mother"]["chromosomes"]['A'][i] if info["mother"]["chromosomes"] %>
      </td>
      <td>
        <%=h info["mother"]["chromosomes"]['B'][i] if info["mother"]["chromosomes"] %>
      </td>
      <td>
        <%=h info["mother"]["traits"][i] if info["mother"]["chromosomes"] %>
      </td>
    <% end %>
    <% (0..8).each do |i| %>
      <td>
        <%=h info["father"]["chromosomes"]['A'][i] if info["mother"]["chromosomes"] %>
      </td>
      <td>
        <%=h info["father"]["chromosomes"]['B'][i] if info["mother"]["chromosomes"] %>
      </td>
      <td>
        <%=h info["father"]["traits"][i] if info["mother"]["chromosomes"] %>
      </td>
    <% end %>
    
    <td><%= link_to 'Show', dragon %></td>
  </tr>
<% end %>

</table>

<br />